body
{
    background-image: url('../images/bacon.webp');
    cursor: url('../images/bacon.png'), auto;
    text-align: center;
    
}

h1
{
    font-size: 100px;
    animation-name: slidein;
    animation-duration: 3s;
}


h1:hover
{
    color: red;
}

h1:hover::after
{
    content: "Eat Eat Eat!";
}

h1::after
{
    content: "I Love Bacon";
}

p
{
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

img
{
    size: 500px;
    animation-name: rotate2;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

@keyframes slidein
{
    from {
    transform:translateY(-500%)
    }

    to {
    transform:translateY(0%)
    }
}

@keyframes rotate
{
    from {
    transform:rotate(0)
    }

    to {
    transform:rotate(360deg)
    }
}

@keyframes rotate2
{
    from {
    transform:rotate(0)
    }

    to {
    transform:rotate(-360deg)
    }
}